<div class="header-nav-edit navbar">
  <h1 class="title-text">Change Name &#8226; <%= @person.name %></h1>
  <%= link_to 'Back', person_path, class: 'btn btn-primary' %>
</div>
<div class="navspacer-edit"></div>
<div class="form-item">
  <%= form_for @person, url: person_path(@person), method: :patch do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </p>
    <p>
      <%= f.submit :Submit, class: "btn btn-success" %>
    </p>
  <% end %>
</div>