<div class="header-box">
  <h1>List Overview</h1>
  <% #Contains all calculated variables, will be moved to controller eventually
      totalPersonCount = current_user.people.count(:all)
      
      totalGiftCount = 0
      totalNotPurchasedCost = 0
      totalNotPurchasedCount = 0
      totalPurchasedCost = 0
      totalPurchasedCount = 0
      totalCost = 0
      current_user.people.each do |person|
        totalGiftCount += person.gifts.count(:all)
        totalNotPurchasedCost += person.gifts.where(purchased: 0).sum(:price)
        totalNotPurchasedCount += person.gifts.where(purchased: 0).count(:all)
        totalPurchasedCost += person.gifts.where(purchased: 1).sum(:price)
        totalPurchasedCount += person.gifts.where(purchased: 1).count(:all)
        totalCost += person.gifts.sum(:price)
      end
    %>
  <div class="btn-group" role="group">
  <%= link_to 'Home', people_path, class: "btn btn-primary" %>
  <% if totalNotPurchasedCount > 0 then %>
  <a class="btn btn-success" id="toggle-all">All Items</a>
  <a class="btn btn-success" id="toggle-remaining">Remaining</a>
  <% end %>
  <a class="btn btn-primary" href="javascript:window.print()">Print</a>
  </div>
</div>
<div class="export-pane export-default">
  <div class="well export-statistics">
    <center><b>Summary of <%= current_user.username %>'s Lists</b></center>
    You have <span class="export-total"><%= pluralize(totalPersonCount, 'list')%></span> and 
    <span class="export-total"><%= pluralize(totalGiftCount, 'item') %></span>.
    <br>You've spent <span class="export-purchased"><%= number_to_currency(totalPurchasedCost) %></span> 
      on <%= pluralize(totalPurchasedCount, 'item') %> with 
      <span class="export-not-purchased"><%= number_to_currency(totalNotPurchasedCost) %></span> left to spend on 
      <%= pluralize(totalNotPurchasedCount, 'item') %>, for a grand total of 
      <span class="export-total"><%= number_to_currency(totalCost) %></span>.
  </div>
  <% current_user.people.order("created_at asc").each do |person| %>
    <h1> <%= link_to person.name, person_path(person) %></h1>
      <ul>
        <% if person.gifts.length < 1 then %>
          <li class="no-gifts">No gifts added yet!</li>
        <% else %>
          <% person.gifts.order("created_at asc").each do |gift| %>
            <li>
            <% if gift.purchased == 1 then %>  
            <span class="export-purchased"><%= gift.item %></span>
            <% elsif gift.purchased == 0 %>
            <span class="export-not-purchased"><%= gift.item %></span>
            <% end %>
            <span class="text-muted"> • Store: <%= gift.store %> • Price: <%= number_to_currency(gift.price) %></span>
            </li>
          <% end %>
          <%
            totalNotPurchasedPerson = person.gifts.where(purchased: 0).sum(:price)
            totalPurchasedPerson = person.gifts.where(purchased: 1).sum(:price)
            totalCostPerson = person.gifts.sum(:price)
          %>
          <li>
            Total of <span class="export-purchased"><%= number_to_currency(totalPurchasedPerson) %></span> spent with 
            <span class="export-not-purchased"><%= number_to_currency(totalNotPurchasedPerson) %></span> left to spend, for a total amount of 
            <span class="export-total"><%= number_to_currency(totalCostPerson) %></span>.
          </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="export-pane remaining-pane">
  <div class="well export-statistics">
  <center><b>Remaining items to purchase on <%= current_user.username %>'s Lists</b></center>
  </div>
  <% current_user.people.order("created_at asc").each do |person| %>
      <ul>
          <% person.gifts.order("created_at asc").each do |gift| %>
            <% if gift.purchased == 0 %>
            <li>
            <span class="export-not-purchased"><%= gift.item %></span> for <%= link_to person.name, person_path(person) %>
            </li>
            <% end %>
        <% end %>
    </ul>
  <% end %>
</div>