<div class="header-box">
  <h1>Export Gift List</h1>
  <div class="btn-group" role="group">
  <span class="btn btn-primary"><%= link_to 'Home', controller: 'people' %></span>
  <a class="btn btn-primary" href="javascript:window.print()">Print</a>
  </div>
</div>
<div class="export-pane">
  <% current_user.people.each do |person| %>
    <h1> <%= person.name %></h1>
      <ul>
        <% if person.gifts.length < 1 then %>
          <li class="no-gifts">No gifts added yet!</li>
        <% else %>
          <% person.gifts.each do |gift| %>
            <li>
            <% if gift.purchased == 1 then %>  
            <span class="export-purchased"><%= gift.item %></span>
            <% elsif gift.purchased == 0 %>
            <span class="export-not-purchased"><%= gift.item %></span>
            <% end %>
            <span class="text-muted"> • Store: <%= gift.store %> • Price: <%= gift.price %></span>
            </li>
          <% end %>
      <% end %>
    </ul>
  <% end %>
</div>