<div class="header-box">
  <h1>Export Gift List</h1>
  <span class="app-link"><%= link_to 'Home', controller: 'people' %></span> &#9733; 
  <a class="app-link" href="javascript:window.print()">Print</a>
</div>
<div class="export-pane">
  <% current_user.people.each do |person| %>
    <h1> <%= person.name %></h1>
      <ul>
        <% if person.gifts.length < 1 then %>
          <li class="no-gifts">You get no gifts!</li>
        <% else %>
          <% person.gifts.each do |gift| %>
            <li><%= gift.item %>
            <% #The following logic exists to hide the Store & Cost attributes if they're left blank
              if gift.store.length == 0 && gift.cost.length == 0 then #first check to see if they're both blank
            %>
             - &#9634;
            <% else #otherwise, display the Store/Cost attributes for this gift
            %> - Store: <%= gift.store %> - Cost: <%= gift.cost %> - &#9634;
            <% end #end if-else logic for store/cost%>
            </li>
          <% end %>
      <% end %>
    </ul>
  <% end %>
</div>