<div class="header-nav">
  <h1 class="title-text">ShopWithRails &#9733; Home</h1>
  <p class="title-text-small">Click/Tab on a name to view or add gifts, or Add New Person to add someone new to your list.</p>
  <p><span class="app-link small-link"><%= link_to 'Add New Person', new_person_path %></span> &#9733; 
  <span class="app-link small-link"><%= link_to 'Export', '/export' %></span></p>
</div>
<div class="navspacer"></div>
<div class="page-content">
  <% @people.each do |person| %>
    <div class="person-list-item">
      <%= link_to person.name, person_path(person) %>
      <div class="person-list-dates">
        <% #The following logic sets only the date created to display if the created & updated are the same (new record with no updates)
        if person.created_at == person.updated_at then%>
        Created <%= time_ago_in_words(person.created_at) %> ago
        <% else %>
        Created <%= time_ago_in_words(person.created_at) %> ago &#9733; Updated <%= time_ago_in_words(person.updated_at) %> ago
        <% end %>
      </div>
    </div>
<% end %>
</div>