<div class="header-nav navbar">
  <h1 class="title-text">ShopWithRails</h1>
  <div class="btn-group" role="group">
    <%= link_to 'New', new_person_path, class: "btn btn-primary" %> 
    <%= link_to 'Export', '/export', class: "btn btn-primary" %> 
    <% if current_user.is_active > 1 then %><%= link_to 'Admin', admin_path, class: "btn btn-warning" %><% end %>
    <%= link_to 'Logout', logout_path, class: "btn btn-danger" %>
  </div>
</div>
<div class="navspacer"></div>
<div class="page-content">
  <div class="well title-text-small">
    Welcome, <%= current_user.username %>! Click/Tap on a name to view gifts, or Add to put someone new on your list.
  </div>
  <% current_user.people.order("created_at desc").each do |person| %>
    <div class="person-list-item">
      <%= link_to person.name, person_path(person) %>
      <div class="person-list-dates">
        <% #The following logic sets only the date created to display if the created & updated are the same (new record with no updates)
        if person.created_at == person.updated_at then%>
        Created <%= time_ago_in_words(person.created_at) %> ago
        <% else %>
        Created <%= time_ago_in_words(person.created_at) %> ago &#9733; Updated <%= time_ago_in_words(person.updated_at) %> ago
        <% end %>
      </div>
    </div>
<% end %>
  <div class="person-list-item">
    <%= link_to 'Create New Person', new_person_path, class: "btn btn-primary" %>
    <div class="person-list-dates">
      <br>Click/Tap above to create a new person!
    </div>
  </div>

</div>