<div class="header-nav-show">
  <h1 class="title-text">Gift List for <% 
  #The following logic is to truncate names in excess of 16 characters due to header display issues
  @currname = String.new #define instance variable to store display name
  if @person.name.length < 16 then #if the name is less than 16 chars
    @currname = @person.name #just show the name
  else #otherwise...
    @currname = @person.name[0..16] + "..." #truncate anything after 16 characters and append ... to the end
  end
  %> <%= @currname %></h1>
  <span class="app-link"><%= link_to 'Home', controller: 'people' %></span>
</div>
<div class="navspacer-show"></div>
<div class="page-content">
  <h2>Gifts</h2>
  <p id="toggle-button"><span class="app-link">Show/Hide Details</span></p>
    <% @person.gifts.each do |gift| %>
    <div class="gift-list-item">
        <span class="gift-list-name"><%= gift.item %></span>
        <div class="gift-extra-data">
          <br>
          <% #The following logic exists to hide the Store & Cost attributes if they're left blank
          if gift.store.length == 0 && gift.cost.length == 0 then #first check to see if they're both blank
          %>
          <!-- Intentionally blank -->
          <% else #otherwise, display the Store/Cost attributes for this gift
          %>
          
          <div>
            <strong>Store:</strong>
            <%= gift.store %> | 
            <strong>Cost:</strong>
            <%= gift.cost %>
          </div>
          <br>
          
          <% end #end if-else logic for store/cost%>
          <%= link_to 'Remove Gift', [gift.person, gift],
                       method: :delete,
                       data: { confirm: 'Are you sure?' },
                       class: 'app-link'%>
        </div>
    </div>
  <% end %>
  <div class="form-item">
    <h2>Add a gift:</h2>
    <%= form_for([@person, @person.gifts.build]) do |f| %>
      <p>
        <%= f.text_field :item, required: true, placeholder: 'Enter Item...', autofocus: true %>
      </p>
      <p>
        <%= f.text_field :store, placeholder: 'Enter Store...' %>
      </p>
      <p>
        <%= f.text_field :cost, placeholder: 'Enter Cost...' %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>