<div class="header-nav-show navbar">
  <h1 class="title-text"><% 
  #The following logic is to truncate names in excess of 16 characters due to header display issues
  @currname = String.new #define instance variable to store display name
  if @person.name.length < 16 then #if the name is less than 16 chars
    @currname = @person.name #just show the name
  else #otherwise...
    @currname = @person.name[0..16] + "..." #truncate anything after 16 characters and append ... to the end
  end
  %> <%= @currname %></h1>
  <div class="btn-group" role="group">
    <%= link_to 'Home', people_path, class: "btn btn-primary" %> 
    <%= link_to 'Rename', edit_person_path(@person), class: "btn btn-primary" %> 
    <%= link_to 'Remove', @person,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger" %>
  </div>
</div>
<div class="navspacer-show"></div>
<div class="page-content">
  <p class="gift-instructions well">Click/Tap an item to view details, edit, remove or mark it as <span class="gift-list-item-purchased gift-type-sm">Purchased</span> or <span class="gift-list-item-not-purchased gift-type-sm">Not Purchased</span>.
  <%
    totalNotPurchased = @person.gifts.where(purchased: 0).sum(:price)
    totalPurchased = @person.gifts.where(purchased: 1).sum(:price)
    totalCost = @person.gifts.sum(:price)
  %>
  <br><br><span class="export-not-purchased"><%= number_to_currency(totalNotPurchased) %> left to spend.</span> &#8226; 
          <span class="export-purchased"><%= number_to_currency(totalPurchased) %> spent.</span> <br> 
          <span class="export-total">Grand total of <%= number_to_currency(totalCost) %>.</span></p>
    <% @person.gifts.order("created_at asc").each do |gift| %>
    <% if gift.purchased == 0 then %>
      <!-- Begin NOT-PURCHASED Gift Item -->
        <%= render 'gift', giftClass: 'gift-list-item-not-purchased', currentGift: gift, currentPerson: @person, giftStatus: 'Not Purchased Yet' %>
      <!-- End NOT-PURCHASED Gift Item -->
      <% elsif gift.purchased == 1 %>
      <!-- Begin PURCHASED Gift Item -->
        <%= render 'gift', giftClass: 'gift-list-item-purchased', currentGift: gift, currentPerson: @person, giftStatus: 'Purchased' %>
      <!-- End PURCHASED Gift Item -->
    <% end %>
<% end %>
  <div>
    <a id="toggle-open" class="btn btn-primary">Expand All</a> &#9733; 
    <a id="toggle-closed" class="btn btn-primary">Collapse All</a>
  </div>
  <div class="form-item gift-form">
    <h2>New Item:</h2>
    <%= form_for([@person, @person.gifts.build]) do |f| %>
      <p>
        <%= f.text_field :item, required: true, placeholder: 'Enter Item...' %>
      </p>
      <p>
        <%= f.text_field :store, placeholder: 'Enter Store...' %>
      </p>
      <p>
        <%= f.text_field :price, placeholder: 'Enter Price...' %>
      </p>
      <p>
        <%= f.submit :Submit, class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
</div>