<script>$('body').addClass('login-page');</script>
<div class="welcome-container">
  <h1 class="welcome-title">ShopWithRails</h1>
  <div class="login-form-item">
  <h4>Please log in.</h4>
  <%= form_tag '/login' do %>
  <p>
  <br>
  <%= text_field_tag :username, nil, placeholder: "Username" %>
  </p>
  <p>
  <br>
  <%= password_field_tag :password, nil, placeholder: "Password" %>
  </p>
  <%= submit_tag 'Log In', class: "btn btn-success btn-login-style" %> 
  <% end %>
  <br>
  <div id="error-msg">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-dismissible alert-<%= message_type %>"><%= message %>
      <button id="close-error" type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </div>
</div>
</div>