<div class="header-nav-edit">
  <h1 class="title-text">Editing Gift</h1>
  <%= link_to 'Back', people_path, class: 'btn btn-primary' %>
</div>
<div class="navspacer-edit"></div>
<div class="form-item">
    <h2>Edit gift:</h2>
    <%= form_for([@person, @gift]) do |f| %>
      <p>
        <%= f.text_field :item, required: true, placeholder: 'Enter Item...', autofocus: true %>
      </p>
      <p>
        <%= f.text_field :store, placeholder: 'Enter Store...' %>
      </p>
      <p>
        <%= f.text_field :price, placeholder: 'Enter Price...' %>
      </p>
      <p>
        <%= f.submit :Submit, class: "btn btn-success" %>
      </p>
    <% end %>
  </div>