<div class="header-nav-edit">
  <h1 class="title-text">Editing Item</h1>
  <%= link_to 'Back', people_path, class: 'btn btn-primary' %>
</div>
<div class="navspacer-edit"></div>
<div class="form-item">
    <h2>Edit Item:</h2>
    <%= form_for([@person, @gift]) do |f| %>
      <p>
        <%= f.text_field :item, required: true, placeholder: 'Item Name (required).', autofocus: true %>
      </p>
      <p>
        <%= f.text_area :store, placeholder: 'Describe this item (optional).', :class => 'description-text-area' %>
      </p>
      <p>
        <%= f.text_field :price, placeholder: 'Price (optional).' %>
      </p>
      <p>
        <%= f.submit :Submit, class: "btn btn-success" %>
      </p>
    <% end %>
  </div>